#app {
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  overflow: auto;
}

#home {
  background: url('../images/pattern.svg');
  height: 100vh;
  overflow: auto;
}

label {
  color: white;
}
